In [1]:
print("hello world")

hello world

In [1]:
shetty=5
shetty

5

In [2]:
a=5*2
a

10

In [3]:
s24shetty=34
s24shetty

34

In [5]:
x=54
y=56
z=x*y
print(z)
print(x+y)

3024
110

In [6]:
abhi=5
hanu=4
halu=abhi+hanu
print(halu)

9

In [1]:
x=int(input("enter the value "))
y=float(input("enter the value "))

z=x+y
print(z)

enter the value 23
enter the value 46.6
69.6

In [2]:
type(y)

float

In [9]:
x=int(input("enter the value "))

enter the value 23

In [10]:
x

23

In [11]:
type(x)

int

In [3]:
y=(input("enter the value "))

enter the value 23

In [4]:
type(y)

str

In [6]:
//day1//

SyntaxError: invalid syntax (1925677109.py, line 1)

In [8]:
profit_a1=60000
profit_a2=70000
profit_a3=40000
profit_a4=20000
total_profit=profit_a1+profit_a2+profit_a3+profit_a4
print(total_profit)

190000

In [10]:
password = "Secure"
is_valid_length = len(password) >= 8
print(is_valid_length)

False

In [3]:
totalmember=int(input("total members in the house "))
a=int(input("some members are missed "))
y=totalmember-a
print("after the flood total members in the house",y)
print("missed members are arrived")
b=int(input("some members are coming with them "))
z=y+a+b
print("total members are ",z)

total members in the house 5
some members are missed 3
after the flood total members in the house 2
missed members are arrived
some members are coming with them 23
total members are  28

In [6]:
a=45
students=8
amount=students*a
print(amount)
totalpaid=500
remain=totalpaid-amount
print(remain)

360
140

In [20]:
i=1
temp1=20
temp2=16
temp=(temp1+temp2)/2
if (i<=1):
    print(temp1)
else:
    (i >= 1)
    print(temp)

TypeError: '<=' not supported between instances of 'tuple' and 'int'

In [11]:
name="shetty"
name[-1]

'y'

In [12]:
name[0:2]

'sh'

In [21]:
name[-1:-3]

''

In [24]:
name="wellcome to all we are sesion in Edunet foundation we are learnin AI"
name[30:50]

'in Edunet foundation'

In [28]:
full_name="Edunet Foundation"
print(full_name[0:6])
print(full_name[7:17])

Edunet
Foundation

In [34]:
x="Data Science is awesome!"
new_x=x.replace("awesome","amazing")
print(new_x)

Data Science is amazing!

In [7]:
a=[1,20,21.22,"hello"]

In [8]:
a

[1, 20, 21.22, 'hello']

In [9]:
type(a)

list

In [10]:
b=[10,12,29,24,26,56,10,10]
count=b.count(10)
print(count)

3

In [11]:
name=["deepak","yadav","shakshi","hanu","yadav","raja","yadav"]

In [17]:
x=0
for i in name:
    print(i)

deepak
yadav
shakshi
hanu
yadav
raja
yadav

In [18]:
x=0
for i in name:
    if i=="yadav":
        x=x+1

print(x)

3

# DAY2 #

In [21]:
name=("lala",30.0,"chintu","raju",40.00)
type(name)

tuple

In [29]:
a=(10,23,22,24,38,36,34)
i=0
for i in a:
    if i==a:
        x=x+1
    print(i)

10
23
22
24
38
36
34

In [30]:
sorted_a=sorted(a)
print(sorted_a)

[10, 22, 23, 24, 34, 36, 38]

In [38]:
name=(10,23,22,24,38,36,34,1)
smallest=name[0]
for i in name:
    if i<smallest:
        smallest=i
print(smallest)

1

In [43]:
name=(1,2,3,4,5,5,6,7,8,9)
biggest=name[0]
for i in name:
    if i>biggest:
        biggest=i
print(biggest)

9